* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.flex {
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 60px;
}

.left {
    width: 60%;
    padding-left: 160px;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
}

.right {
    flex-shrink: 0;
}

#hero-desktop {
    display: block;
    max-width: 100%;
}

h1 {
    width: 430px;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 135px;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}

span {
    color: black;
    font-weight: 600;
}

.long-copy {
    width: 440px;
    margin: 25px 0;
    color: hsl(0, 36%, 70%);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

form {
    position: relative;
    width: 445px;
}

input {
    width: 445px;
    height: 60px;
    border: 2px solid hsl(0, 23%, 82%);
    border-radius: 30px;
    margin: 15px 0;
    padding-left: 32px;
}

form.error #email {
    border: 2px solid hsl(0, 93%, 68%);
}

#email::placeholder {
    color: hsl(0, 23%, 82%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.error-img {
    position: absolute;
    top: 33px;
    right: 117px;
    display: none;
}

form.error .error-img {
    display: block;
}

.err-text {
    font-size: 14px;
    font-weight: 600;
    margin-left: 34px;
    color: hsl(0, 93%, 68%);
    display: none;
}

form.error .err-text {
    display: block;
}

.btn {
    position: absolute;
    right: -1px;
    top: 15px;
    width: 102px;
    height: 60px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 5px 22px 1px hsl(0, 80%, 86%);
    transition: box-shadow 400ms;
}

.btn:hover {
    background: none;
    background-color: hsl(0, 80%, 86%);
    box-shadow: 0 10px 35px hsl(0, 74%, 74%);
}