* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    background-color: lightgray;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 60px;
}

.left {
    width: 58%;
    padding-left: 160px;
    background-image: url(./images/bg-pattern-desktop.svg);
}

.right {
    flex-shrink: 0;
}

#hero-desktop {
    display: block;
    max-width: 100%;
}

h1,
h2 {
    width: 430px;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 1rem;
    line-height: 1.1em;
}

h1 {
    font-weight: 300;
    margin-top: 135px;
}

h2 {
    font-weight: 600;
}

p {
    width: 430px;
    font-size: 16px;
    line-height: 28px;
    margin: 25px 0;
}